@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Sedan:ital@0;1&display=swap');

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Jacquard 24", system-ui;
}

main{
    background-image: url('./images/rain.png');
}

.header {
    font-size: 2rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80px; 
    background-image: linear-gradient(to bottom right, rgb(0, 251, 255), rgb(0, 85, 255));
}


.header:before,
.header:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease-in-out; /* Додаємо перехід для плавності анімації */
}

.header:before {
    background-image: url('./images/pirate-captain.png');
    background-color: rgba(9, 150, 238, 0.4);
    left: 50%;
    transform: translateX(-170px) scale(1); /* Початковий масштаб */
}

.header:after {
    background-image: url('./images/mdi_pirate.png');
    background-color: #bc8a0a;
    right: 50%;
    transform: translateX(170px) scale(1); /* Початковий масштаб */
}

.header:hover:after {
    transform: translateX(-100px) scale(1.1); /* Збільшуємо масштаб для :after */
}

.header:hover::before{
    transform: translateX(100px) scale(1.1);
}

.blpearl {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.container-zero {
    position: relative;
    width: 390px;
    height: 390px;
    background-image: url('./images/blpearl.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(13, 180, 241, 0.3), 0 6px 20px 0 rgba(13, 180, 241, 0.3);
}

.btn {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    border-radius: 5px;
    background-color: #d4b60e;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(218, 21, 21), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(28, 28, 30);
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute; 
    bottom: 20px; 
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.6);
}

.btn:hover {
    background-color: #10908b59;
    color: white;
    border: 3px solid rgb(241, 118, 4);
}

.mess-box {
    position: absolute; 
    top: 10px; 
    left: 320px; 
}

.mess-box .message-text {
    visibility: hidden;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgb(218, 21, 21), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(28, 28, 30);
    width: 120px;
    background-color: #d4b60e;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    opacity: 0;
    transition: opacity 0.5s;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.6);
}

.mess-box:hover .message-text {
    visibility: visible;
    opacity: 1;
}

.mdias {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.media {
    width: 256px;
    height: 256px;
    background-image: url('./images/sprite.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}

.icon1 {
    background-position: 0 0;
}

.icon2 {
    background-position: 0 -256px;
}

.icon3 {
    background-position: 0 -512px;
}

@media (max-width:991px){
    .header {
        font-size: 1.5rem; 
    }

    .container-zero{
        width: 350px;
        height: 350px;
    }

    .btn {
        font-size: 1.2rem; 
        padding: 10px 20px; 
    }
}

@media (max-width:991px){
 .mess-box{
    left: 290px;
    }
}

@media (max-width: 829px) {
    .header {
        font-size: 1.5rem; 
    }

    .btn {
        font-size: 1.2rem; 
        padding: 10px 20px; 
    }

    .mdias {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 10px;
    }

}