@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Sedan:ital@0;1&display=swap');

body {
    background-image: url('./images/rain.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgb(3, 82, 193) , rgb(0, 251, 255));
}

.container {
    height: 65vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.box {
    width: 400px;
   display: flex;
   flex-direction: column;
}

.picture {
    background-image: url('./images/blpearl.png');
    background-size: auto contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 20px 20px 300px 20px rgba(0, 0, 0, 0.87);
}

.header {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #ffd900ce;
    font-size: 3rem;
    margin-top: 200px;
    margin-left: 100px;
    text-shadow: 1px 1px 2px rgb(218, 21, 21), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(28, 28, 30);
}

.picture .btn {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    border-radius: 5px;
    background-color: #d4b60e;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 2px rgb(218, 21, 21), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(28, 28, 30);
    margin-left: 100px;
}

.btn {
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #10908b59;
    color: white;
    border: 2px solid rgb(241, 118, 4);
}
.sprite{
    max-width: 1000px;
    margin: auto;
}
.mdias{
    display: flex;
    justify-content: space-between;
}

.media{
    width: 256px;
    height: 256px;
    background-image: url('./images/sprite.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.icon1{
    background-position: 0px 0px;
}

.icon2{
    background-position: -0px -256px;
}

.icon3{
    background-position: -0px -512px;
}

